
.App-sizing {
  width: 100%;
  display:flex;
  flex-direction: column;
  background-image: url("./imagenfondo.jpg");
  background-size:100%;
  height: 100vh;
  padding: 0;
}

.App-container {
  width: 90%;
  height: fit-content;
  display:flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.Top-container {
  display: flex;
}

.Intro {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:aliceblue;
}

.Intro h1 {
  margin: 0;
  font-size: 4rem;
}

.Intro h4 {
  font-size: 1.6rem;
  margin: 0;
}

.Iframe {
  width: 80%;
  height: 55vh;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
}


.Comunication-form {
  margin-top: 10vh;
  background-color: rgb(40, 44, 52, .57);
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  
}

.Comunication-form label{
  margin-bottom: 0px;
  color: aliceblue;
  font-size: 2.5rem;
}

.Comunication-form p{
  margin-top: 0;
  margin-bottom: 10px;
  color: transparent;
  font-size: 0rem;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Info {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;
  width: 80%;
  align-self: center;
  background-color: aliceblue;
  background-repeat: no-repeat;
  border: 2px solid black;
  outline: none;
}

.Wrong-info {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1rem;
  width: 80%;
  align-self: center;
  background-color: aliceblue;
  background-repeat: no-repeat;
  border: 2px solid rgb(154, 4, 4);
  outline: none;
}

.Info:focus {

  border: 2px solid #555;
}

.Info-message {
  border-radius: 10px;
  padding: 10px;
  height: 20vh;
  margin-bottom: 1rem;
  width: 80%;
  align-self: center;
  border: 2px solid black;
  resize: none;
  outline: none;
  background-color: aliceblue;
}

.Wrong-info-message {
  border-radius: 10px;
  padding: 10px;
  height: 20vh;
  margin-bottom: 1rem;
  width: 80%;
  align-self: center;
  border: 2px solid rgb(154, 4, 4);
  resize: none;
  outline: none;
  background-color: aliceblue;
}

.Info-message:focus {
  border: 2px solid #555;
}

.Comunication-form button {
  padding: 1rem;
  margin: auto;
  background-color: aliceblue;
  border-radius: 10px;
  width: 40%;
  border: 2px solid black; 
  cursor: pointer;
  font-size: .6rem;
}

.Comunication-form button:hover {
  background-color:rgb(202, 208, 214);
}

.Services-section {
  margin-top: 7%;
  background-color:  rgb(40, 44, 52, .57);
  width: 95%;
  font-size: 1.3rem;
  text-align: center;
  color: aliceblue;
  height: fit-content;
  border-radius: 5px;
}

.Services {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.Services-offered {
  width: 30%;
  height: 43vh;
  background-color: rgb(128, 128, 128, .80);
  border-radius: 5px;

}

.Services-offered h3 {
  font-size: 1rem;
  padding: 3%;
}

.Icons-div {
  padding: 5px;
  margin-top: 1.5vh;
}

.Service-icons{
  font-size: 1.3rem;
}

.Services-offered p{
  margin: 0;
  font-size: .9rem;
  padding: 5%;

}